form {
    margin-top: 10px;
}

table {
    margin-top: 10px;
}

h3 {
    margin-top: 10px;
}

iframe {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

.card {
    padding: 10px;
}

.list-group {
    margin-top: 10px;
}

.alert {
    margin-top: 10px;
}

#participationTypeInput {
    margin-top: 10px;
}