<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Codeforces Contests</title>
    <script src="js/contests.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/contests.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144934197-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-144934197-3');
    </script>

</head>

<body>
    <div class="container">
        <%- include('partials/header') %>

        <div class="row">
            <div class="col">
                <input class="form-control input-lg" type="text" id="contestInput" onkeyup="searchContests()" placeholder="Type here to search contest..">
            </div>
        </div>
        <div class="row">
            <div class="col" id="contests_type">
                <button onclick="filterContests('')" type="button" class="btn btn-outline-warning">All</button>
                <button onclick="filterContests('Div. 1 + Div. 2')" type="button" class="btn btn-outline-primary">Div. 1 + Div. 2</button>
                <button onclick="filterContests('(Div. 2')" type="button" class="btn btn-outline-info">Div. 2</button>
                <button onclick="filterContests('Div. 3')" type="button" class="btn btn-outline-success">Div. 3</button>
                <button onclick="filterContests('Educational')" type="button" class="btn btn-outline-danger">Educational Round</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe
                    src="https://ghbtns.com/github-btn.html?user=dush1729&repo=Codeforces-Helper-Web&type=watch&count=true&size=large"
                    frameborder="0" scrolling="0" width="170px" height="30px">
                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul id="contestsUL" class="list-group">
                    <% for (var i = 0; i < contests.length;  i++) { %>
                    <li class="list-group-item">
                        <a href="https://codeforces.com/contest/<%= contests[i].id %>"><%= contests[i].name %></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>